.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: transform, opacity;
  transform-origin: center center;
}

.container[data-is-animating='true'] {
  transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1),
    opacity 250ms cubic-bezier(0.33, 1, 0.68, 1);
}

.container[data-is-active='true'] {
  pointer-events: auto;
}
